@charset "UTF-8";
/* a_stage_04.css */

/* reset.css 
================================================================ */
html,body {width:100%; height:100%;}

header, nav, section, main, article, aside, footer,
figure, figcaption {
  display:block; margin:0; padding:0; border:0;
}

html,body, 
h1,h2,h3,h4,h5,h6,
p,pre,address,
ul,ol,li,dl,dt,dd {
  margin: 0; padding: 0;
  /* font-size:16px;  */
  font-family:sans-serif; }

ul,ol { list-style:none;}

a { text-decoration: none; color:inherit;}


/* common.css 
================================================================ */
.clearfix {height:auto;}
.clearfix:after,
.clearfix::after{
  content:""; display: block; clear:both;
}

.blind {width:0; height:0; overflow:hidden;}


/* design 
================================================================ */
#wrap {
  margin:auto; width:150px; height:80px; background-color:#FDD655;
}
h1 {margin:auto; width:100%; height:50px; text-align:center;}
.back a {
  display:block; font-size:20px;
  width:100%; height:30px; text-align:center;
  color:#FDD655; background-color: #000;
}
#base {
  margin:auto; margin-top:100px;
  width:1600px; height:auto; background-color: #fff;
}

/* #headBox
----------------------------------------------------------------- */

#headBox {
  box-sizing:border-box;
  padding-top:34px; padding-left:50px; padding-right:50px;
  width:auto; height:150px; background-color:#ddd;
}
  #headBox > div {float:left; background-color:#3bc;}
  .head_01 {
    font-size:50px; text-align:center;
    margin-right:75px;
    width:250px; height:80px;
  }
  .head_02 {width:850px; height:80px;}
    .head_02 li {
      float:left; margin:5px 10px;
      width:150px; height:70px; background-color:#fea;
    }
  .head_03 {margin-left:75px; width:250px; height:80px;}

/* #adViewBox
----------------------------------------------------------------- */

#adViewBox {
  padding-top:28px; box-sizing:border-box;
  width:auto; height:750px; background-color:#bbb;
}
  #adViewBox > div {background-color:#3bc;}
  .view_outer {
    margin:auto; margin-bottom:28px;
    width:1300px; height:600px;
  }
  .view_indicator {
    padding-left:5px; box-sizing:border-box; 
    margin:auto; width:850px; height:60px;}
    .view_indicator li {
      float:left; margin:10px;
      width:120px; height:40px; background-color:#fea;
    }

/* #localNavBox
----------------------------------------------------------------- */

#localNavBox {
  margin-bottom:50px; padding-top:18px; box-sizing:border-box;
  width:auto; height:250px; background-color:#999;
}
  .local_nav_outer {
    margin:auto; 
    padding-top:23px; padding-left:75px; box-sizing:border-box;
    width:1500px; height:196px; background-color:#3bc;
  }
    .local_nav_outer li {
      float:left; margin-right:30px;
      width:200px; height:150px; background-color:#fea;
    }

/* #popularContentBox
----------------------------------------------------------------- */

#popularContentBox {width:auto; height:600px; background-color:#666;}
  #popularContentBox > div {background-color:#3bc;}
  .h3 {
    margin:auto; margin-bottom:30px;
    width:1300px; height:50px; background-color:#3bc;
  }
  .pop_con_area {
    padding-top:20px; padding-left:63px; box-sizing:border-box;
    margin:auto; 
    width:1300px; height:470px;
  }
    .pop_con_area > div {
      padding-top:8px; padding-left:10px; box-sizing:border-box;
      float:left; margin-right:62px;
      width:350px; height:430px; background-color:#fcf;
    }
    .pop_con_area > div > div {
      margin-bottom:14px;
      width:330px; height:200px; background-color:#b7f;
    }


/* #newContentBox
----------------------------------------------------------------- */

#newContentBox {
  padding-top:60px; box-sizing:border-box;
  margin-bottom:80px; 
  width:auto; height:900px; background-color:#999;
}
  #newContentBox > div {background-color:#3bc;}
  .new_con_area {
    margin:auto; 
    width:1300px; height:700px;
  }
    .new_con_title_area {
      float:left;
      width:640px; height:700px; background-color:#b7f;
    }
    .new_con_title_area > div {background-color:#fea;}
      .new_con_title_img {width:640px; height:350px;}
      .new_con_title_text {
        margin:auto; margin-top:30px; width:600px; height:290px;
      }
        .new_con_title_text > div,
        .new_con_more_01 > div,
        .new_con_more_02 > div {background-color:#f80;}
        .new_con_title_text_01 {
          margin-bottom:30px; width:600px; height:70px;
        }
        .new_con_title_text_02 {width:600px; height:190px;}

    .new_con_more_area {
      float:right;
      width:630px; height:400px; background-color:#fcf;
    }
      .new_con_more_area > div {
        width:630px; height:180px; background-color:#fea;
      }
      .new_con_more_01 {margin-bottom:40px;}
        .new_con_more_01_01,
        .new_con_more_02_01 {float:left; width:200px; height:180px;}

        .new_con_more_01_02,
        .new_con_more_02_02 {
          float:right; margin-top:44px; width:380px; height:136px;
        }


/* #recommendedConttentBox
----------------------------------------------------------------- */

#recommendedConttentBox {
  padding-top:30px; box-sizing:border-box;
  margin-bottom:80px; 
  width:auto; height:600px; background-color:#bbb;
}
  #recommendedConttentBox > div {background-color:#3bc;}
  .recom_con_area {
    margin:auto; 
    width:1300px; height:440px;
  }
    .recom_con_area li {
      float:left; margin-right:calc(100px / 3);
      width:300px; height:440px; background-color:#fcf;
    }
    .recom_con_area li:nth-child(4) {margin-right:0;}
      .recom_con_area li > div {
        width:300px; height:220px; background-color:#b7f;}
        .recom_con_area li > div:nth-child(2) {
          padding:15px; 
          box-sizing:border-box; background-clip:content-box;
        }
/* #communityBox
----------------------------------------------------------------- */

#communityBox {
  padding-top:60px; box-sizing:border-box;
  margin-bottom:80px; 
  width:auto; height:800px; background-color:#ddd;
}
  #communityBox > div {background-color:#3bc;}
  .community_area {
    margin:auto; 
    width:1300px; height:600px;
  }
    .community_area li {
      margin-bottom:60px; 
      width:1300px; height:160px; background-color:#fea;
    }
    .community_area li:nth-child(3) {margin-bottom:0;}
      .community_area div {
        float:left;
        width:300px; height:160px; background-color:#f80;
      }
      .community_area dl {padding:25px 0px 25px 30px; float:left;}
      .community_area dt {
        margin-bottom:20px;
        width:800px; height:40px; background-color:#f80;
      }
      .community_area dd {
        width:970px; height:50px; background-color:#f80;
      }

/* #miniAdBox
----------------------------------------------------------------- */

#miniAdBox {
  padding-top:40px; box-sizing:border-box;
  margin-bottom:80px; 
  width:auto; height:400px; background-color:#bbb;
}
  #miniAdBox > div {background-color:#3bc;}
  .mini_ad_outer {
    margin:auto; 
    width:1500px; height:300px;
  }
    .mini_ad_outer li {
      float:left;
      margin-right:25px; 
      height:300px; background-color:#fea;
    }
    .mini_ad_outer li:nth-child(3) {margin-right:0;}
    .mini_ad_part_area_01 {width:750px;}
    .mini_ad_part_area_02,
    .mini_ad_part_area_03 {width:350px;}
    
/* #footBox
----------------------------------------------------------------- */

#footBox {
  padding-top:22px; box-sizing:border-box;
  margin-bottom:100px;
  width:auto; height:200px; background-color:#999;
}
  #footBox > div {background-color:#3bc;}
  .foot_area {
    margin:auto; 
    width:1300px; height:140px;
  }
    .foot_area > div {background-color:#fea;}
    .foot_part_area_01 {float:left;width:750px; height:140px;}
    .foot_part_area_02 {
      float:right;margin-top:32px;
      width:280px; height:76px;
    }

